<h2>This is the about page</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias harum distinctio quisquam omnis dolorem reiciendis atque illo aspernatur tempora officiis, dolorum, ea temporibus? Laudantium ad beatae mollitia nostrum veritatis ipsam?</p>